:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: background-color 0.3s ease-in;
    margin-left: -10px;
    margin-right: -10px;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    transition: all 0.3s ease-in;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

#container:hover #menu{
    background-color: transparent;
}

#container:hover #menu::before{
    transform: rotate(40deg);
    margin-top: 20px;
}

#container:hover #menu::after{
    transform: rotate(-40deg);
    margin-top: -20px;
}

#container {
    border: transparent dashed 3px;
    display: inline-block;
    padding: 40px;
}